/*
 * 5 columns grid for Bootsrap
 */
 
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}
 
 
 /*
 * Datatable colours
 */
table.dataTable tbody tr.selected {
    background-color: #96BAD8 !important;
}

table.dataTable.display tbody>tr.odd.selected>.sorting_1, table.dataTable.order-column.stripe tbody>tr.odd.selected>.sorting_1 {
    background-color: #96BAD8 !important;
}

table.dataTable.display tbody>tr.even.selected>.sorting_1, table.dataTable.order-column.stripe tbody>tr.even.selected>.sorting_1 {
    background-color: #96BAD8 !important;
}


table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover {
  background-color:  #f2ffe6 ;
}


 
 .fc-center h2{
font-size:20px !important; 
}

.shadowfilter {
	-webkit-filter: drop-shadow(0px 0px 0px rgba(255,255,255,0.80));
	-webkit-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	transition: all 0.5s linear;
}

.shadowfilter:hover {
	-webkit-filter: drop-shadow(0px 0px 3px rgba(255,192,0,0.7));
}

button.dt-button, div.dt-button, a.dt-button{
	padding: 0px;
	border:0px;
}

.dt-button:hover{
	padding: 0px !important;
	border:0px !important;
}

.extra-details th {
padding-left: 0px !important;
}

.extra-details td {
padding: 0px !important;

}

svg{
  width: 100% !important;
  height: 150% !important;
  margin-bottom: 20px;
}

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  font-family: "Century Gothic"; 
  padding-top: 50px;
}

#calendar{

}

.table-nonfluid {
   width: auto !important;
}



.defects{
font-size: 10px !important;
}

.navbar-brand{
padding-top: 5px !important;
}

.navbar-nav>li>.dropdown-menu {
    margin-top: 6px;
 }
 
 @media (min-width: 768px){
.navbar-right {
    float: right!important;
    margin-right: 0px;
}

.navbar-right .dropdown-menu {
    right: 19px;
    left: auto;
}
}

/* Tables Rendering
*/

#tb_comm th{
padding: 8px;
}

#tb_hours{
font-size: 13px;
}

#tb_ore_generali{
	width: 100%;
font-size: 13px;
}

#tb_defects{
font-size: 13px;
}

td{
white-space: nowrap;;
}

 #tb_ore_generali   tfoot {
    display: table-header-group;
}

#filterrow{
height: 33px;
background-color: #f2ffe6;
}


/*
 * ParetoDifetti
 */
#pareto-difetti{
width: 600px;
height: 400px;
margin: auto;
margin-bottom: 200px;
}



/* Form Validation Style*/
input:focus:invalid,
textarea:focus:invalid{
	border:solid 1px #F5192F;
}

input:focus:valid,
textarea:focus:valid{
	border:solid 1px #18E109;
	background-color:#fff;
}


/*
table.dataTable tbody tr.selected{
background-color: yellow !important;
color: white;
}*/

#val{
font-weight: bold; 
}

/* ROW COLOR */
.important{
background-color: #C9FFB3 !important; 

}
.warning{
background-color: #FCF8E3 !important; 
}
.danger{
background-color: #FBB9B9 !important; 
}


/* Responsive Modal Width*/

@media screen and (min-width: 768px) {
   .panel-body  {font-size: 12px;}	
	#myModal .modal-dialog  {width:900px;}	
	#editModal .modal-dialog  {width:900px;}
	#defectsModal .modal-dialog  {width:900px;}
	#defectsPanel label {width:90%;height: 25px; text-align: center; vertical-align: text-bottom; font-size: 12px; } /* Align label and input*/

}

.alignment
{
    margin-top:25px;
}
/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */
 
 .sb-img{
float:right;
font-size:20px; 
 }
 
 
 .panel-heading-sm{
    padding: 4px 10px;
}

 

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
  
	a {
    color:#000000;  
}
  
	a:hover {
    color: #FFC000;
}
  
  .nav-tabs{
  background-color:#ffffff;
} 
/* 
	.tab-content{
    background-color:#303136;
    color:#fff;
    padding:5px
}*/
	.nav-tabs > li > a{
/*  border: 1px;*/
}
	.nav-tabs > li > a:hover{
/*    background-color: #303136 !important;*/
    border-radius: 0.2;
    color:#ffc000;
    border-bottom-style: hidden;

}

   

}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #FFC000;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}


/*
 * Spinner
 */
 
 .spinner {
  width: 100px;
}
.spinner input {
  text-align: right;
}
.input-group-btn-vertical {
  position: relative;
  white-space: nowrap;
  width: 1%;
  vertical-align: middle;
  display: table-cell;
}
.input-group-btn-vertical > .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
  padding: 8px;
  margin-left: -1px;
  position: relative;
  border-radius: 0;
}
.input-group-btn-vertical > .btn:first-child {
  border-top-right-radius: 4px;
}
.input-group-btn-vertical > .btn:last-child {
  margin-top: -2px;
  border-bottom-right-radius: 4px;
}
.input-group-btn-vertical i{
  position: absolute;
  top: 0;
  left: 4px;
}

