/*
 * Base structure
 */





svg{
  width: 100% !important;
  height: 130% !important;
}

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

#calendar{
max-width: 900px;
margin: 0 auto;
}

.table-nonfluid {
   width: auto !important;
}

#logout {
    margin-top: 10%;
    margin-left: 16%;
}

.defects{
font-size: 10px !important;
}


/* Table Rendering
*/

#tb_comm th{
padding: 8px;
}

#tb_hours{
font-size: 13px;
}

#tb_defects{
font-size: 13px;
}

#tb_defects td{
white-space: nowrap;;
}

/*
 * ParetoDifetti
 */
#pareto-difetti{
width: 600px;
height: 400px;
margin: auto;
}



/* Form Validation Style*/
input:focus:invalid,
textarea:focus:invalid{
	border:solid 1px #F5192F;
}

input:focus:valid,
textarea:focus:valid{
	border:solid 1px #18E109;
	background-color:#fff;
}


/*
table.dataTable tbody tr.selected{
background-color: yellow !important;
color: white;
}*/

#val{
font-weight: bold; 
}

/* ROW COLOR */
.important{
background-color: #C9FFB3 !important; 

}
.warning{
background-color: #FCF8E3 !important; 
}
.danger{
background-color: #FBB9B9 !important; 
}


/* Responsive Modal Width*/

@media screen and (min-width: 768px) {
	
	#myModal .modal-dialog  {width:900px;}
	#editModal .modal-dialog  {width:900px;}
	#defectsModal .modal-dialog  {width:900px;}
	#defectsPanel label {height: 40px; text-align: center; vertical-align: text-bottom;} /* Align label and input*/

}

.alignment
{
    margin-top:25px;
}
/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */
 
 .sb-img{
float:right;
font-size:20px; 
 }
 
 

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}


/*
 * Spinner
 */
 
 .spinner {
  width: 100px;
}
.spinner input {
  text-align: right;
}
.input-group-btn-vertical {
  position: relative;
  white-space: nowrap;
  width: 1%;
  vertical-align: middle;
  display: table-cell;
}
.input-group-btn-vertical > .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
  padding: 8px;
  margin-left: -1px;
  position: relative;
  border-radius: 0;
}
.input-group-btn-vertical > .btn:first-child {
  border-top-right-radius: 4px;
}
.input-group-btn-vertical > .btn:last-child {
  margin-top: -2px;
  border-bottom-right-radius: 4px;
}
.input-group-btn-vertical i{
  position: absolute;
  top: 0;
  left: 4px;
}

